<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sout.carcre.mapper.GradeListMapper">

    <!-- public int insertGradeListByRemark(GradeList gradeList);-->
    <insert id="insertGradeListByRemark" parameterType="com.sout.carcre.mapper.bean.GradeList" >
    insert into grade_list ( user_id,grade_num,grade_remark)
    values (#{userId,jdbcType=BIGINT},#{gradeNum,jdbcType=BIGINT},#{gradeRemark,jdbcType=BIGINT}
      )
  </insert>
</mapper>