<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sout.carcre.mapper.RankWeeklyMapper">
<!--    public int insertRankWeeklyData(){-->
    <insert id="insertRankWeeklyData">
        insert into rank_weekly(user_id, mobile_phone, nickname, grade_num, coll_num, create_time)
        value (#{userId},#{mobilePhone},#{nickname},0,0,#{createTime})
    </insert>

<!--        public RankWeekly selectDataByMobilPhone(String mobilPhone);-->
    <select id="selectDataByMobilPhone" resultType="com.sout.carcre.mapper.bean.RankWeekly">
        select * from  rank_weekly
        where mobile_phone=#{mobilPhone}
    </select>

    <!--         public int seleteChipNumByUserId(int userId);-->
    <select id="seleteChipNumByUserId" resultType="INTEGER">
        select coll_num from  rank_weekly
        where user_id=#{userId}
    </select>

    <!--          public int selectGradeNumByUserId(int userId);-->
    <select id="selectGradeNumByUserId" resultType="INTEGER">
        select grade_num from  rank_weekly
        where user_id=#{userId}
    </select>

    <!--  public int updateChipNumByUserID(int userId,int gradeNum);-->
    <update id="updateChipNumByUserID" parameterType="map">
        update rank_weekly
        <set>
            <if test="gradeNum != null">
                grade_num=#{gradeNum,jdbcType=INTEGER}
            </if>
        </set>
        where user_id=#{userId,jdbcType=BIGINT}
    </update>

    <!-- public int updateChipNumByUserId(String userId,int chipNum);-->
    <update id="updateChipNumByUserId" parameterType="map">
        update rank_weekly
        <set>
            <if test="chipNum != null">
                coll_num=#{chipNum,jdbcType=INTEGER}
            </if>
        </set>
        where user_id=#{userId,jdbcType=BIGINT}
    </update>


</mapper>