<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sout.carcre.mapper.UserInfoMapper">
    <insert id="insertUserInfo" parameterType="com.sout.carcre.mapper.bean.UserInfo">
        insert into user_info(user_id,user_name,nickname,mobile_phone,user_is_height,user_image_path,city_id,user_card,`user_ piece`,user_grade_all,user_grade,user_is_gcert,user_friend,create_time)
        value (#{userId},#{userName},#{nickname},#{mobilePhone},#{userIsHeight},#{userImagePath},#{cityId},#{userCard},#{userPiece},#{userGradeAll},#{userGrade},#{userIsGcert},#{userFriend},#{createTime})
    </insert>

<!--      public Integer userIsSaveByUserId();-->
    <select id="userIsSaveByUserId" resultType="integer">
        select isnull((select distinct 1 from user_info where user_id=#{userId}))
    </select>
<!--        public Integer userIsSaveByMobilPhone(Integer userId);-->
    <select id="userIsSaveByMobilPhone" resultType="integer">
        select isnull((select distinct 1 from user_info where mobile_phone=#{mobilPhone}))
    </select>


<!--        public UserInfo selectUserInfoByUserId(Integer userId);-->
    <select id="selectUserInfoByUserId" resultType="com.sout.carcre.mapper.bean.UserInfo">
        select * from user_info
        where user_id=#{userId}
    </select>

<!--        public UserInfo selectUserInfoByMobilPhone(String mobilPhone);-->
    <select id="selectUserInfoByMobilPhone"  resultType="com.sout.carcre.mapper.bean.UserInfo">
        select * from user_info
        where mobile_phone=#{mobilPhone}
    </select>

<!--        public String selectChipInfoByUserId(Integer userId);-->
    <select id="selectChipInfoByUserId"  parameterType="integer" resultType="String">
        select user_piece from user_info
        where user_id=#{userId}
    </select>

    <!--       public String selectSendedChipByUserId(@Param("userId")int userId);-->
    <select id="selectSendedChipByUserId"  parameterType="integer" resultType="String">
        select send_chip_id from user_info
        where user_id=#{userId}
    </select>

    <!--      public String selectNickNameByUserId(@Param("userId")int userId);-->
    <select id="selectNickNameByUserId"  parameterType="integer" resultType="String">
        select nickname from user_info
        where user_id=#{userId}
    </select>

    <!--         public UserGrade selectGradeByUserId(int userId);-->
    <select id="selectGradeByUserId"  parameterType="integer" resultType="com.sout.carcre.service.bean.UserGrade">
        select user_grade_all,user_grade from user_info
        where user_id=#{userId}
    </select>

    <!--        public int selectExistGradebyUserId(int userId);-->
    <select id="selectExistGradebyUserId"  parameterType="integer" resultType="integer">
        select user_grade from user_info
        where user_id=#{userId}
    </select>

<!--    &lt;!&ndash;       public int selectChipStatusByUserId(int userId);&ndash;&gt;-->
<!--    <select id="selectChipStatusByUserId"  parameterType="integer" resultType="integer">-->
<!--        select user_chip_status from user_info-->
<!--        where user_id=#{userId}-->
<!--    </select>-->

<!--         public int updateChipInfoByuserId(int userId,String chipinfo);-->
    <update id="updateChipInfoByuserId" parameterType="map">
    update user_info
    <set>
        <if test="chipinfo != null">
            user_piece=#{chipinfo,jdbcType=VARCHAR}
        </if>
    </set>
    where user_id=#{userId,jdbcType=BIGINT}
    </update>

    <!--         public int updateCardInfoByUserId(int userId,String cardinfo);-->
    <update id="updateCardInfoByUserId" parameterType="map">
        update user_info
        <set>
            <if test="cardinfo != null">
                user_card=#{cardinfo,jdbcType=VARCHAR}
            </if>
        </set>
        where user_id=#{userId,jdbcType=BIGINT}
    </update>

    <!--         public int updateGradeByUserId(int userId,int grade);-->
    <update id="updateGradeByUserId" parameterType="map">
        update user_info
        <set>
            <if test="grade != null">
                user_grade=#{grade}
            </if>
        </set>
        where user_id=#{userId,jdbcType=BIGINT}
    </update>

    <!--         public int updateGradeByNew(int userId,int gradeAll,int grade);-->
    <update id="updateGradeByNew" parameterType="map">
        update user_info set user_grade_all=#{gradeAll},user_grade=#{grade}
        where user_id=#{userId,jdbcType=BIGINT}
    </update>

    <!--          public int updateSendedChipByUserId(@Param("userId")int userId,@Param("sendChip")String sendChip);-->
    <update id="updateSendedChipByUserId" parameterType="map">
        update user_info set send_chip_id=#{sendChip}
        where user_id=#{userId,jdbcType=BIGINT}
    </update>

<!--    &lt;!&ndash;        public int updateChipStatusByUserId(int userId);&ndash;&gt;-->
<!--    <update id="updateChipStatusByUserId" parameterType="INTEGER">-->
<!--        update user_info-->
<!--        <set>-->
<!--            user_chip_status=1-->
<!--        </set>-->
<!--        where user_id=#{userId,jdbcType=BIGINT}-->
<!--    </update>-->

<!--    &lt;!&ndash;         public int updateChipStatus0ByuserId(@Param("userId")int userId);&ndash;&gt;-->
<!--    <update id="updateChipStatus0ByuserId" parameterType="INTEGER">-->
<!--        update user_info-->
<!--        <set>-->
<!--            user_chip_status=0-->
<!--        </set>-->
<!--        where user_id=#{userId,jdbcType=BIGINT}-->
<!--    </update>-->


<!--    &lt;!&ndash;        public int updateChipStatusByDay();&ndash;&gt;-->
<!--    <update id="updateChipStatusByDay">-->
<!--        update user_info-->
<!--        <set>-->
<!--            user_chip_status=0-->
<!--        </set>-->
<!--    </update>-->

<!--        public int updateIsMessageByMobilPhone();-->
    <update id="updateIsMessageByMobilPhone">
        update user_info set is_message=#{status}
        where mobile_phone=#{mobilePhone}
    </update>

<!--        public int updateIsMessageById(int id,int status);-->
    <update id="updateIsMessageById">
        update user_info set is_message=#{status}
        where mobile_phone=#{id}
    </update>
</mapper>
